mixin formTextarea(param)
    label(class=param.isError ? 'form-input--error' : '').form-input
        ._wrap
            p._label=param.label
            p(data-field-error=true)._error=param.errorText
        textarea(
            data-type=param.requireType,
            placeholder=param.placeholder,
            required=param.isRequire,
            value=param.value,
        )._input
