- var link = '<a target="_blank" href="https://demo-wssupport-ru-wssupport.hosting.wssupport.ru/"> WS Support</a>, которая обновляется каждый понедельник.';

-
    var listNumData = [
        {
            title: 'Создадим точную копию вашего сайта',
            text: 'В WS Support есть уникальная технология, которая автоматически создаст копию вашего сайта с базой данных и контентом. Копия повторяет действующий сайт с точностью до каждого файла и картинки. Убедитесь в этом сами — посетите копию ',
            img: 'i/index/2-1.png',
            unic: true
        },
        {
            title: 'Безопасно внесем изменения',
            text: 'Все работы ведем на копиях сайта. Мы гарантируем безопасность — виртуальные площадки невидимы для поисковых систем и недоступны для пользователей. Для каждой задачи разработчики создают отдельные площадки, это позволяет выполнять задачи параллельно и независимо друг от друга.',
            img: 'i/index/2-2.png'
        },
        {
            title: 'Оригинальный сайт беспрерывно продолжит работу',
            text: 'Мы тщательно тестируем выполненные работы и следим за качеством. Переносим изменения на действующий сайт, только после вашего утверждения. В процессе ничего не сломается и не помешает продажам — на всех этапах ваш сайт будет функционировать в обычном режиме, а клиенты заметят только улучшения.',
            img: 'i/index/2-3.png'
        }
    ];

mixin doubleStageBlockNum
    ul.double-stage-block-num
        each val in listNumData
            li._item
                ._content.line-block
                    ._in
                        p.__title=val.title
                        p._text=val.text
                            if(val.unic)
                                 | !{link}
                p._img
                    img(src=val.img alt=val.title)
